services:
  postgresql:
    container_name: postgresql
    image: postgres:17
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: postgres
    ports:
      - 7801:5432
    volumes:
      - node-postgresql-data:/var/lib/postgresql/data
    networks:
      - app-network
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      update_config:
        failure_action: rollback

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - 7802:80
    volumes:
      - ./server/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./server/node_api.conf:/etc/nginx/sites-enabled/server.conf:ro
      - ./server/logs:/var/log/nginx
    restart: unless-stopped
    networks:
      - app-network
    labels:
      - "logging=promtail"
      - "job=nginx"
    deploy:
      mode: global
      restart_policy:
        condition: on-failure
      update_config:
        failure_action: rollback

volumes:
  node-postgresql-data:
    driver: local

networks:
  app-network:
    external: true