services:
  prometheus:
    container_name: prometheus
    image: prom/prometheus
    volumes:
      - "./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml"
      - prometheus:/prometheus
    networks:
      - monitoring-network
      - app-network
    ports:
      - 7901:9090
    deploy:
      replicas: 1
      placement:
        constraints: [node.role == manager]
      restart_policy:
        condition: on-failure
      update_config:
        failure_action: rollback

  grafana:
    container_name: grafana
    image: grafana/grafana:latest
    ports:
      - "7902:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - monitoring-network
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=Abc123456*
    deploy:
      replicas: 1
      placement:
        constraints: [node.role == manager]
      restart_policy:
        condition: on-failure
      update_config:
        failure_action: rollback

  loki:
    container_name: loki
    image: grafana/loki:latest
    ports:
      - 7903:3100
    command: -config.file=/etc/loki/config.yml
    volumes:
      - ../monitoring/loki-config.yml:/etc/loki/config.yml
      - loki-data:/loki
    networks:
      - monitoring-network
    deploy:
      replicas: 1
      placement:
        constraints: [node.role == manager]
      restart_policy:
        condition: on-failure
      update_config:
        failure_action: rollback

  promtail:
    container_name: promtail
    image: grafana/promtail:latest
    command: -config.file=/etc/promtail/config.yml
    volumes:
      - ../monitoring/promtail-config.yml:/etc/promtail/config.yml
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - ../monitoring/positions:/tmp
    networks:
      - monitoring-network
    depends_on:
      - loki
    deploy:
      mode: global
      restart_policy:
        condition: on-failure
      update_config:
        failure_action: rollback

volumes:
  prometheus:
    driver: local

  grafana-data:
    driver: local

  loki-data:
    driver: local

networks:
  monitoring-network:
    external: true

  app-network:
    external: true
